<!-- The toolbar of our app -->
<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item routerLink="products">
          <mat-icon>shopping_basket</mat-icon>
          <span>Product</span>
        </button>
        <button mat-menu-item routerLink="categories">
          <mat-icon>shopping_basket</mat-icon>
          <span>Category</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </span>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Product</span>


</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
